<%= form_with(model: shortend_url, local: true) do |form| %>
  <% if shortend_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shortend_url.errors.count, "error") %> prohibited this shortend_url from being saved:</h2>

      <ul>
      <% shortend_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :original_url %>
    <%= form.text_field :original_url, id: :shortend_url_original_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
