<p id="notice"><%= notice %></p>

<h1>Shortend Urls</h1>

<table>
  <thead>
    <tr>
      <th>Short url</th>
      <th>Original url</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @shortend_urls.each do |shortend_url| %>
      <tr>
        <td><%= shortend_url.short_url %></td>
        <td><%= shortend_url.original_url %></td>
        <td><%= link_to 'Show', shortend_url %></td>
        <td><%= link_to 'Destroy', shortend_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shortend Url', new_shortend_url_path %>
